@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body{
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 100vw;
  background-color: #ddd;
  flex-direction: row;
}

.sidebar-container{
  width: 25vw;
  height: 100vh;
}

.main{
  width: 50vw;
  height: 100vh;
  padding: 20px;
}

.button {
  padding: 10px;
  text-align: center;
  background-color: seagreen;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  
}
